/**
 * Background styling
 */
main#main, 
footer#footer{
  background-color: $medium-grey;
  @include zero;
}

.footer-wrapper{
  text-align: center;
  .info{
    margin-top: 1em;
    span, a{
      color: $link-grey;
      @include rem-fallback(font-size, .75);
    }
    span:after{
      content:'|';
      padding: 0 .5em;
    }
    span:last-child:after{
      content:'';
    }
  }
  .colophon{
    background-color: #c2c2c2;
    margin: 1em 0 0;
    padding: .3em 0;
    a{
      color: $text-color;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


/*
 * Page Layout Styles
 */
  
.responsive{
  // Responsive Dashboard
  .panel-2col-bricks, 
  .panel-2col{
    .panel-panel .inside{
      background-color: #fff;
      @include box-sizing(border-box);
      @include border-radius(3px);
      @include box-shadow(rgba(0,0,0,0.1) 0 1px 3px);
    }
  }
  // Responsive Non Dashboard
  h2.block__title{
    @include rem-fallback(padding, .1, 1.5);
    border-bottom: 1px solid $light-grey;
    margin: 0;
    font-weight: 600;
    @include rem-fallback(font-size, 1.3125);
  }
  .view, form{
    @include rem-fallback(padding, 0, 1.5, 1);
    @include box-sizing(border-box);
  }
  .field{
    @include rem-fallback(padding, 0, 1.5);
    @include box-sizing(border-box);    
  }
}


/*
 * Login Page
 */
 
.front.not-logged-in{
  .block__title{
    background-color: $primary;
    color: #fff;
    @include border-radius(3px 3px 0 0);
  }
  input, select{
    width: 100%;
  }
  #block-user-login, 
  #block-syllabus-block-syllabus-search{
    input[type='submit']{
      margin-bottom: 1.5em;
    }
  }
}


/*
 * Dashboard Professor
 */
 
%borders{
  border-bottom: 1px solid $light-grey;
  padding: 1em 1.5em;
}

.front.logged-in{
    form{
      padding: 0;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      li{
        @extend %borders;
        /*
        a{
          display: block;
        } 
        a:hover:after{
          content: '+';
          margin: 0 1em;
          padding: 0 1em;
          @include border-radius(3px);
          font-weight: bold;
          display: inline-block;
          background-color: #697988;
          color: #fff;
        }*/
      }
    }
    
    fieldset{
      margin: 0;
      @include box-shadow(none);
      border-bottom: 1px solid $light-grey;
      padding: .5em 1.5em;
    }
    .legend{
      background-color: $light-grey;
      color: $link-grey;
      font-style: italic;
      @include rem-fallback(padding, .5, 1.5);
      @include rem-fallback(font-size, .75); //12px

      &.first{
       padding-top: 1em; 
      }
      &.last{
       padding-bottom: 1em; 
       @include border-radius(0 0 3px 3px)
      }
    }
    
    #main span{
      display: inline-block;
      padding: 0 1em;
      margin-right: .5em;
      @include border-radius(3px);
      font-style: normal;
      line-height: 1.5;
      text-transform: capitalize;
      @include rem-fallback(font-size, .75); //12px
      
      &.draft{
        background-color: #ddd;
      }//draft
      &.published,
      &.public{
        background-color: #697988;
        color: #fff;
      }// published/public
    }// span
    
     #main .fieldset-wrapper{
      span{
        margin: 0 10em 0 0; 
        @media only screen and (min-width: 22.5em){
          margin: 0 3em 0 1em; 
        }
      }
      @media #{$desktop}{
        a{
          margin-top: .5em;
          display: inline-block;
        }
      }//mediaquery
    }// fieldset-wrapper
      
    .administrative-links{
      @extend %borders;      
    }
    
    // Button Styles
    #edit-public, 
    #edit-publish, 
    #edit-draft{
      @include button-3d($primary, #fff);
      @include box-shadow(rgba(0,0,0, 0.2) 0 1px 3px);
      @media #{$desktop}{
        float: right;
      }
    }// buttons 
    
    
}








